* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  overflow-x: hidden;
  background-color: #f7c0cb;
}

header {
  background: linear-gradient(#ff7099, #f7c0cb);
}
header figure {
  text-align: center;
}
header figure #logo {
  border-radius: 30px;
  width: 150px;
  margin-top: 10px;
  padding-top: 5px;
  border: solid 1px #ff7099;
}

.navbar {
  padding: 20px;
}
@media (max-width: 900px) {
  .navbar {
    padding: 5px;
  }
}
.navbar .ul-navbar {
  display: flex;
  justify-content: center;
  gap: 50px;
}
@media (max-width: 900px) {
  .navbar .ul-navbar {
    gap: 18px;
    padding-bottom: 10px;
  }
}
@media (max-width: 700px) {
  .navbar .ul-navbar {
    flex-direction: column;
  }
}
.navbar .ul-navbar .paginaactiva {
  background-color: #ff7099;
  border: solid 1px #ff7099;
  border-radius: 10px;
  list-style: none;
}
.navbar .ul-navbar .paginaactiva .a-navbar {
  color: white;
}
.navbar .ul-navbar .li-navbar {
  list-style: none;
  background: #fadfe4;
  border-radius: 10px;
  border: solid 1px #f7e9e9;
}
.navbar .ul-navbar .li-navbar:hover {
  border: solid 1px #ff7099;
}
.navbar .ul-navbar .a-navbar {
  text-decoration: none;
  color: #ff7099;
  font-size: 1.4rem;
  display: block;
  text-align: center;
  padding: 10px;
}

.portada {
  background-image: url(../img/portada.jpg);
  height: 73vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: solid 1px #ff7099;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.portada h1 {
  text-align: center;
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  z-index: 1000;
}
.portada .p-portada {
  padding: 20px;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

footer {
  background: linear-gradient(#f7c0cb, #ff7099);
  padding: 50px;
  border: solid 1px #ff7099;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}
@media (max-width: 400px) {
  footer {
    padding: 10px;
  }
}
footer .li-footer {
  list-style: none;
}
footer .a-footer {
  text-decoration: none;
  color: white;
}
footer .ig {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
footer .fa-brands {
  color: white;
  font-size: 1.5rem;
}

.main-inicio {
  background-color: #fadfe4;
  padding: 0px;
  display: flex;
  flex-direction: column;
}
.main-inicio .inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 50px;
}
@media (max-width: 550px) {
  .main-inicio .inicio {
    padding: 25px;
  }
}
.main-inicio .inicio .tarjeta-inicio {
  background-color: #f7c0cb;
  display: flex;
  width: 85%;
  justify-content: center;
  border-radius: 10px;
  border: solid 1px #ff7099;
  box-shadow: 10px 10px 10px #f7c0cb;
}
.main-inicio .inicio .tarjeta-inicio:hover {
  scale: 1.01;
  box-shadow: 10px 10px 10px rgba(18, 18, 18, 0.5411764706);
  transition: 0.5s;
  background: linear-gradient(#f7c0cb, #ff7099);
  border: solid 1px #121212;
}
@media (max-width: 1366px) {
  .main-inicio .inicio .tarjeta-inicio {
    display: flex;
    flex-direction: column;
    width: 75%;
  }
}
@media (max-width: 550px) {
  .main-inicio .inicio .tarjeta-inicio {
    width: 95%;
  }
}
.main-inicio .inicio .tarjeta-inicio .img-inicio {
  width: 100%;
  border-radius: 10px;
  border: solid 1px #ff7099;
  object-fit: cover;
}
.main-inicio .inicio .tarjeta-inicio .p-inicio {
  padding: 30px;
  text-align: center;
  margin: auto 0;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  overflow: auto;
  max-width: none;
}
@media (max-width: 1366px) {
  .main-inicio .inicio .tarjeta-inicio .p-inicio {
    font-size: normal;
    letter-spacing: normal;
    line-height: normal;
    max-height: none;
  }
}
@media (max-width: 550px) {
  .main-inicio .inicio .tarjeta-inicio .p-inicio {
    padding: 10px;
    font-size: 1.2rem;
  }
}

.main-contacto {
  background-color: #fadfe4;
  display: flex;
  flex-direction: column;
}
.main-contacto .publicaciones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
  padding: 50px;
}
@media (max-width: 900px) {
  .main-contacto .publicaciones {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 25px;
    padding: 25px;
  }
}
@media (max-width: 400px) {
  .main-contacto .publicaciones {
    width: 90%;
  }
}
.main-contacto .publicaciones .publicacion {
  display: flex;
  justify-content: center;
}
@media (max-width: 900px) {
  .main-contacto .publicaciones .publicacion {
    display: flex;
    justify-content: center;
  }
}

.main-ubicacion {
  background-color: #fadfe4;
  display: flex;
  flex-direction: column;
}
.main-ubicacion .mapa {
  padding: 50px;
}
@media (max-width: 500px) {
  .main-ubicacion .mapa {
    padding: 25px;
  }
}

.main-Nosotros {
  display: flex;
  flex-direction: column;
  background-color: #fadfe4;
}
.main-Nosotros .biografia {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 50px;
}
@media (max-width: 900px) {
  .main-Nosotros .biografia {
    padding: 20px;
    gap: 20px;
  }
}
.main-Nosotros .biografia .fig-nos {
  text-align: center;
}
.main-Nosotros .biografia .fig-nos .img-Nosotros {
  width: 200px;
  border-radius: 100px;
  border: solid 2px black;
}
@media (max-width: 900px) {
  .main-Nosotros .biografia .fig-nos .img-Nosotros {
    width: 150px;
  }
}
.main-Nosotros .biografia .p-nos {
  padding: 50px;
  background-color: #f7c0cb;
  border: solid 1px #ff7099;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 10px;
  line-height: 2rem;
}
@media (max-width: 900px) {
  .main-Nosotros .biografia .p-nos {
    font-size: 1.2rem;
    padding: 20px;
  }
}
@media (max-width: 400px) {
  .main-Nosotros .biografia .p-nos {
    font-size: 1.1rem;
    padding: 10px;
    line-height: normal;
  }
}

.main-produc {
  display: flex;
  flex-direction: column;
  background-color: #fadfe4;
}
.main-produc .Productos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 50px;
  padding: 50px;
}
@media (max-width: 1366px) {
  .main-produc .Productos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
@media (max-width: 600px) {
  .main-produc .Productos {
    padding: 25px;
    gap: 25px;
  }
}
.main-produc .Productos .Lista {
  display: flex;
  padding: 10px;
  background-color: #f7c0cb;
  border: solid 2px #ff7099;
  border-radius: 50px;
}
.main-produc .Productos .Lista:hover {
  scale: 1.05;
  transition: 0.5s;
  box-shadow: 10px 10px 10px rgba(18, 18, 18, 0.5411764706);
}
@media (max-width: 800px) {
  .main-produc .Productos .Lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
  }
}
.main-produc .Productos .Lista .img-produc {
  width: 100%;
  border-radius: 50px;
  border: solid 1px #ff7099;
  object-fit: cover;
  max-width: 300px;
}
@media (max-width: 800px) {
  .main-produc .Productos .Lista .img-produc {
    max-width: 100%;
  }
}
.main-produc .Productos .Lista .info-produc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.main-produc .Productos .Lista .info-produc .p-produc {
  padding: 20px;
  margin: auto 0;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  font-size: 1.3rem;
}
@media (max-width: 600px) {
  .main-produc .Productos .Lista .info-produc .p-produc {
    font-size: 1.2rem;
    padding: 5px;
    line-height: normal;
    letter-spacing: normal;
  }
}
.main-produc .Productos .Lista .info-produc .boton-producto {
  margin: 10px;
  border-radius: 10px;
  width: 85%;
  cursor: pointer;
  background-color: #ff7099;
  border: solid 1px #fadfe4;
  color: #fadfe4;
  box-shadow: 1px 1px 1px black;
}
.main-produc .Productos .Lista .info-produc .boton-producto:active {
  box-shadow: inset 1px 1px 1px black;
}
.main-produc .Productos .Lista .info-produc .boton-producto .a-button {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=style.css.map */
