
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    box-sizing: border-box;
    font-size: 16px;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1;
}
img{
    width: 100%;
}
#logo{
    border-radius: 30px;
    width: 150px;
    margin: 10px;
    padding-top: 5px;
    border: solid 1px #ff7099;
}
figure{
    text-align: center;
}
header{
    background-color: #f7c0cb;
    border: solid 1px #ff7099;
}
nav{
    padding: 20px;
}
ul{
    display: flex;
    justify-content: center;
    gap: 50px;
}
li{
    padding: 8px;
    list-style: none;
    background-color: #f7e9e9;
    border-radius: 10px;
    border: solid 1px #f7e9e9;
    display: flex;
    align-items: center;
    text-align: center;
}
li:hover{
    border:solid 1px #ff7099;
}
.ali{
    text-decoration: none;
    color: #ff7099;
    font-size: 1.4rem;
}
.paginaactiva{
    background-color: #ff7099;
    border: solid 1px #ff7099;
}
.paginaactiva a{
    color: #f7e9e9;
}
h1{
    text-align: center;
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
    z-index: 1000;   
}
.main-inicio{
    background-color: #f7e9e9;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding:50px
}
footer{
    background-color: #f7c0cb;
    text-align: center;
    padding: 50px;
    border: solid 1px #ff7099;
}
.ig{
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}
.fa-brands{
    color: black;
    font-size: 1.5rem;
}
.maini{
    background-color: #f7c0cb;
    display: flex;
    width: 85%;
    justify-content: center;
    border-radius: 10px;
    border: solid 1px #ff7099;
    box-shadow: 10px 10px 10px #f7c0cb;
}
.imginicio{
    width: 100%;
    border-radius: 10px;
    border: solid 1px #ff7099;
    object-fit: cover;
}
.maini:hover{
    scale: 1;
    box-shadow: 10px 10px  10px #1212128a;
    transition: 0.5s;
    background-color: #ff7099;
    border:solid 1px #121212;
}
.pinicio{
    padding: 30px;
    text-align: center;
    margin: auto 0;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    overflow:auto;
    max-width: none;
}

@media (max-width:1366px){
    .maini{
        display: flex;
        flex-direction: column;
        width: 75%;
    }
    .pinicio{
        font-size: normal;
        letter-spacing: normal;
        line-height: normal;
        max-height: none;
    }
}

@media (max-width:900px){
    ul{
        gap: 10px
    }
    nav{
        padding: 5px
    }
    .ali{
        font-size:1.2rem;
    }
    li{
        padding: 5px;
    }
}

@media (max-width:550px){
    .maini{
        width: 95%;
    }
    .imginicio{
        width: 100%;
    }
    ul{
        flex-direction: column;
    }
    .ali{
        margin: 0 auto;
    }
    .pinicio{
        padding: 10px;
        font-size: 1.2rem;
    }
}

.main-Nosotros{
    display: flex;
    flex-direction: column;
    background-color: #f7e9e9;
}
.imgNosotros{
    width: 200px;
    border-radius: 100px;
    border: solid 2px #121212;
}
.fig-nos{
    text-align: center;
}
.p-nos{
    padding: 50px;
    background-color: #f7c0cb;
    border: solid 1px #ff7099;
    font-size: 1.5rem;
    text-align: center;
}
.biografia{
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap:50px
}
.main-produc{
    display: flex;
    flex-direction: column;
    background-color: #f7e9e9;
}
.Productos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 50px;
    padding: 50px;
}
.img-produc{
    width: 100%;
    border-radius: 50px;
    border: solid 1px #ff7099;
    object-fit: cover;
    max-width: 300px;
}
.Lista{
    display: flex;
    padding: 10px;
    background-color: #f7c0cb;
    border: solid 2px #ff7099;
    border-radius: 50px;
}
.p-produc{
    padding: 20px;
    margin: auto 0;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    font-size: 1.3rem;
}
.Lista:hover{
    scale: 1.05;
    transition: 0.5s;
}
.info-produc{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 85%;
    cursor: pointer;
    background-color: #ff7099;
    border: solid 1px #f7e9e9;
    color: #f7e9e9;
    box-shadow: 1px 1px 1px #121212;
}
button:active{
box-shadow: inset 1px 1px 1px #121212;
}

@media (max-width:1366px){
    .Productos{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}

@media (max-width:800px){
    .Lista{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 100%;
    }
    .img-produc{
        max-width: 100%;
    }
    .button{
        padding: 0;
    }
}

@media (max-width:600px){
    .p-produc{
        font-size: 1.2rem;
        padding: 5px;
        line-height: normal;
        letter-spacing: normal;
    }
}

@media (max-width:900px){
    .p-nos{
        font-size: 1.2rem;
        padding: 25px;
    }
    .imgNosotros{
        width: 150px;
    }
}

.main-contacto{
    background-color: #f7e9e9;
    display: flex;
    flex-direction: column;
}

.main-ubicacion{
    background-color: #f7e9e9;
    display: flex;
    flex-direction: column;
}

.portada{
    background-image: url(../img/portada.jpg);
    height: 72vh;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    border: solid 1px #ff7099;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.p-portada{
    padding: 20px;
    font-size: 1.5rem;
    color: white;
}
.publicaciones{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    padding: 50px;
}
.publicacion{
    display: flex;
    justify-content: center;
}
@media (max-width:900px){
    .publicaciones{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 25px;
        padding: 25px;
    }
    .publicacion{
        display: flex;
        justify-content: center;
    }
}
@media (max-width:400px){
    .publicaciones{
        width: 90%;
    }
}
.mapa{
    padding: 50px;
}