.main-inicio{
    background-color: $principal;
    padding: 0px;
    @include flex-column;
    
    .inicio{
        @include flex-column;
        align-items: center;
        gap: 2rem;
        padding:50px;
        @media (max-width:550px){
            padding: 25px;
        }
        
        .tarjeta-inicio{
            background-color: $secundario;
            display: flex;
            width: 85%;
            justify-content: center;
            border-radius: 10px;
            border: solid 1px $terciario;
            box-shadow: 10px 10px 10px $secundario;
            &:hover{
                scale: 1.01;
                box-shadow: 10px 10px  10px #1212128a;
                transition: 0.5s;
                background: linear-gradient($secundario, $terciario);
                border:solid 1px #121212;
            }
            @media (max-width:1366px){
                @include flex-column;
                width: 75%;
            }
            @media (max-width:550px){
                width: 95%;
            }
            
            .img-inicio{
                width: 100%;
                border-radius: 10px;
                border: solid 1px $terciario;
                object-fit: cover;
            }
            
            .p-inicio{
                padding: 30px;
                text-align: center;
                margin: auto 0;
                font-size: 1.5rem;
                letter-spacing: 0.1rem;
                line-height: 1.5rem;
                overflow:auto;
                max-width: none;
                @media (max-width:1366px){
                    font-size: normal;
                    letter-spacing: normal;
                    line-height: normal;
                    max-height: none;
                }
                @media (max-width:550px){
                    padding: 10px;
                    font-size: 1.2rem;
                }
            }
        }
    }
}
