.portada{
    background-image: url(../img/portada.jpg);
    height: 73vh;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    border: solid 1px $terciario;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    h1{
        text-align: center;
        font-size: 3rem;
        color: white;
        text-transform: uppercase;
        z-index: 1000;   
    }
    
    .p-portada{
        padding: 20px;
        font-size: 1.5rem;
        color: white;
        text-align: center;
    }
}