*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    box-sizing: border-box;
    font-size: 16px;
}

body{
    overflow-x: hidden;
    background-color: $secundario;
}

header{
    background: linear-gradient($terciario, $secundario);
    
    figure{
        text-align: center;
        
        #logo{
            border-radius: 30px;
            width: 150px;
            margin-top: 10px;
            padding-top: 5px;
            border: solid 1px $terciario;
        }
    }
}