.main-ubicacion{
    background-color: $principal;
    display: flex;
    flex-direction: column;
    
    .mapa{
        padding: 50px;
        @media(max-width:500px){
        padding: 25px;
        }
    }
}
